# Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Secrets
.env
credentials/credentials.json
credentials/token.json
credentials/token_*.json

# Database
data/database.db
app/database/database.db
*.db
*.sqlite

# OS Files
.DS_Store

# Streamlit
.streamlit/
